</header>
<div class="single-post">
    <div class="post-contents">
        <div class="post-image-container">
            <img src="{{photoURL}}" alt="{{description}}">
        </div>
        <div class="post-info-container">
            <h2 class="post-title">{{description}}</h2>
            <p class="post-price">${{price}}</p>
            <p class="post-city">City: {{city}}</p>
            <p class="post-condition">Condition: {{condition}}</p>
            <p class="post-description">{{longDescription}}</p>
        </div>
    </div>
</div>
